<!DOCTYPE html>
<html>
  <head>
    <title>Michaelsen Reunion</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href="stylesheets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="nav" class="clearfix">
      <ul>
        <li><a href="index.html">home</a></li>
        <li><a href="food.html">food</a></li>
        <li><a href="activities.html">activities</a></li>
        <li><a href="info.html">info</a></li>
        <li><a href="rsvp.html">rsvp</a></li>
        <li><a id="print" href="#">print invite</a></li>
      </ul>
    </div>
    {{ content }}
    <script type="text/javascript">
      document.getElementById('print')
      .onclick = function() {
        window.print();
      };
    </script>
    <div id="invite">
      <h2>Three days. Two nights. One Family. 1000 memories!</h2>
      <h1>Michaelsen Family Reunion</h1>
      <h3>Mayfield, UT&nbsp;&nbsp;&mdash;&nbsp;&nbsp;August 3 - 5, 2012</h3>
      <p class="first">
      It all began at Aunt LaRue’s in 1949 during a birthday party for Grandma Ella.
      Ella was concerned that her large family, then living in Utah, Wyoming and
      California, would not get together regularly. At that moment they agreed to
      come together each August to keep the family bonds strong and the love alive.
      And it worked!
      </p>
      <p>
      2012 marks the 63rd annual Michaelsen Family reunion in Mayfield, Utah -- known
      to many of us as simply “The Mayfield Reunion.” This year we will welcome over
      250 family members &mdash; four generations &mdash; from all over the nation. We’ll serve over
      1200 meals, eat more treats than we'll admit, tell stories, reconnect with
      family members and make new friends as we celebrate a remarkable and long legacy
      of what it means to be a family!
      </p>
      <div id="column1">
        <h3>Cost</h3>
        <p>
        The Mayfield Reunion is a self-sustaining event, where costs are distributed
        equally with no profit made. Suggested pricing for the three days and five
        meals is:<br/><b>0 - 5: free, 6 - 12: $10, 13+: $18</b>
        </p>
        <h3>Activities and more activities</h3>
        <p>
        raffle, dance, program, kids activities, ghost stories, fortune telling,
        treasure hunt, field games, golf, palisades, hiking, walking, talking and
        visiting, napping, eating treats
        </p>
        <h3>Raffle</h3>
        <p>
        Please bring something interesting, meaningful, fun, etc. for both the adult
        and children's raffles. The proceeds help make up any deficit and help maintain
        the reunion-specific parts of the homestead.
        </p>
        <h3>Memorial</h3>
        <p>
        This year we would like to pay tribute to our loved ones who have gone
        before us by creating a simple memorial area. Please feel free to bring a
        picture, small object, poem, etc. that will allow us all a moment to
        remember and reflect on those who made us who we are but are no longer
        with us.
        </p>
      </div>
      <div id="column2">
        <h3>Mayfield is <b>NOT</b> the time for<br/>calorie counting!</h3>
        <ul>
          <li>
            <b>Friday Dinner, 5:00pm - 6:30pm:</b>
            lasagna, rolls, green salad, drinks, dessert
          </li>
          <li>(Earl Family)</li>
          <li>
            <b>Saturday Brunch, 8:30am - 12:00pm:</b>
            meat, pancakes, fruit, juice, coffee, cereal
          </li>
          <li>(Larue/Geneva Families)</li>
          <li>
            <b>Saturday Dinner, 5:00pm - 6:30pm:</b>
            kettle roasted turkey, potatoes, vegetables, rolls
          </li>
          <li>(Alta/Myles Families)</li>
          <li>
            <b>Sunday Breakfast, 8:00am - 10:00am:</b>
            pastries, cereal, fruit, juice, coffee
          </li>
          <li>(Norma/Ada/Aleda "Hermensen" Families)</li>
          <li>
            <b>Sunday Lunch, 12:00pm - 1:30pm:</b>
            pulled pork sandwhiches, coleslaw, chips, fruit, drinks
          </li>
          <li>(Virginia/Aleda "Christiansen" Families)</li>
        </ul>
        <h3>Please bring your best baked goods<br/>to share.</h3>
      </div>
    </div>
  </body>
</html>
